<div class="sort">
  <button [class.selected]="currentSortFunction === sortBy.mostControversial" (click)="sortPosts(sortBy.mostControversial)">Piu' Controversi</button>
  <button [class.selected]="currentSortFunction === sortBy.mostPopular" (click)="sortPosts(sortBy.mostPopular)">Piu' Popolari</button>
  <button [class.selected]="currentSortFunction === sortBy.mostUnpopular" (click)="sortPosts(sortBy.mostUnpopular)">Meno Popolari</button>
  <button [class.selected]="currentSortFunction === sortBy.mostRecent" (click)="sortPosts(sortBy.mostRecent)">Piu' Recenti</button>
</div>

<div class="post-list">
  <div *ngIf="currPagePosts.length === 0" class="no-posts-message">
    Non c'è ancora nessun post, inizia tu una discussione!
  </div>

  <div *ngFor="let post of currPagePosts" class="post-container">
    <app-vote-post-homepage [post]="post"></app-vote-post-homepage>
    <div class="post-content">
      <h1 class="title">{{post.title}} </h1>
      <p>Da {{ post.author.username }} il {{ post.createdAt | date:'short' }}</p>
      <p>{{ post.description }}</p>
      <div class="post-actions">
        <span class="comments">Commenti: {{ post.comments.length }}</span>
        <button (click)="this.router.navigateByUrl('/posts/' + post.idPost + '/comments')" class="comments">Visualizza Commenti</button>
      </div>
    </div>
  </div>
</div>

<div class="create-post-link">
  <a routerLink="/crea-post">Crea un Post!</a>
</div>

<div class="swap-page">
  <button (click)="pageLeft()">Precedente</button>
  <span class="current-page">{{currPage}}</span>
  <button (click)="pageRight()">Successiva</button>
</div>